{% extends "layout.html" %}
{% block content %}
        <main class="about">
            <section class="about-content">
                <h2>Full name: </h2>
                <h3>Darkk Mane</h3>
                <h2>Main host: </h2>
                <h3>Dr. Darkk Frungus PHD</h3>
                <h2>Status of the show: </h2>
                <h3>Closed</h3>
                <h2>Reason: </h2>
                <h3>Excesive swearing in a kids show</h3>
                <h2>Frun facts:<h1>MITOCHONDRIA IS THE POWERHOUSE OF THE CELL.</h1></h2>
                
            </section>
        </main>
{% endblock content %}